<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="lihanxuan">
    <title>PDF to JPG</title>
    <!-- Bootstrap core CSS -->
    <link href="/statics/css/bootstrap.min.css" rel="stylesheet">
    <script src="/statics/js/jquery.min.js"></script>
    <script src="/statics/js/index.js" async></script>
    <meta name="theme-color" content="#563d7c">
    <style>
        body {
            font-size: 0.8rem;
        }
        .form-control {
            font-size: 0.8rem;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/statics/css/floating-labels.css" rel="stylesheet">
</head>
<body>
    {{ template "uploadForm" }}
</body>
</html>
